package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import org.springframework.stereotype.Service;
import ${package.Service}.${table.serviceName};
#if(${cfg.addDtoServiceAndImpl})
## tableName 是首字母大写的表名
#set($tableName = "${table.name.toUpperCase().substring(0,1)}${table.name.toLowerCase().substring(1)}")
## tableNameFirstLowerCase 是首字母小写的表名
#set($tableNameFirstLowerCase = "${table.name.toLowerCase().substring(0,1)}${table.name.toLowerCase().substring(1)}")
import net.sf.cglib.beans.BeanCopier;

import java.io.Serializable;
import java.util.ArrayList;
import java.util.Collection;
import java.util.List;
import java.util.Map;

import ${cfg.dtoPackageName}.${tableName}DTO;
import ${package.Service}.${tableName}DtoService;

import javax.annotation.Resource;
#else
import ${package.Mapper}.${table.mapperName};
import ${superServiceImplClassPackage};
#end

/**
 * <p>
 * $!{table.comment} DTO 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
public class ${tableName}DtoServiceImpl implements ${tableName}DtoService {
#if(${cfg.addDtoServiceAndImpl})

    private final BeanCopier dto2DoBeanCopier = BeanCopier.create(${tableName}DTO.class, ${tableName}.class, false);
    private final BeanCopier do2DtoBeanCopier = BeanCopier.create(${tableName}.class, ${tableName}DTO.class, false);

    @Resource
    private ${table.serviceName} ${tableNameFirstLowerCase}Service;

    /**
     * DTO 转 DO
     *
     * @param entity DTO 对象
     * @return
     */
    private ${tableName} dto2Do(${tableName}DTO entity) {
        ${tableName} target = new ${tableName}();
        dto2DoBeanCopier.copy(entity, target, null);
        return target;
    }

    /**
     * DO 转 DTO
     *
     * @param entity DO 对象
     * @return
     */
    private ${tableName}DTO do2Dto(${tableName} entity) {
        ${tableName}DTO target = new ${tableName}DTO();
        do2DtoBeanCopier.copy(entity, target, null);
        return target;
    }

    @Override
    public boolean save(${tableName}DTO entity) {
        return ${tableNameFirstLowerCase}Service.save(dto2Do(entity));
    }

    @Override
    public boolean saveBatch(Collection<${tableName}DTO> entityList) {
        return this.saveBatch(entityList, 30);
    }

    @Override
    public boolean saveBatch(Collection<${tableName}DTO> entityList, int batchSize) {
        List<${tableName}> targetList = new ArrayList<>(entityList.size());
        entityList.forEach(e -> targetList.add(dto2Do(e)));
        return ${tableNameFirstLowerCase}Service.saveBatch(targetList, batchSize);
    }

    @Override
    public boolean saveOrUpdate(${tableName}DTO entity) {
        return ${tableNameFirstLowerCase}Service.saveOrUpdate(dto2Do(entity));
    }

    @Override
    public boolean saveOrUpdateBatch(Collection<${tableName}DTO> entityList) {
        return this.saveOrUpdateBatch(entityList, 30);
    }

    @Override
    public boolean saveOrUpdateBatch(Collection<${tableName}DTO> entityList, int batchSize) {
        List<${tableName}> targetList = new ArrayList<>(entityList.size());
        entityList.forEach(e -> targetList.add(dto2Do(e)));
        return ${tableNameFirstLowerCase}Service.saveOrUpdateBatch(targetList, batchSize);
    }

    @Override
    public boolean updateById(${tableName}DTO entity) {
        return ${tableNameFirstLowerCase}Service.updateById(dto2Do(entity));
    }

    @Override
    public boolean updateBatchById(Collection<${tableName}DTO> entityList) {
        return this.updateBatchById(entityList, 30);
    }

    @Override
    public boolean updateBatchById(Collection<${tableName}DTO> entityList, int batchSize) {
        List<${tableName}> targetList = new ArrayList<>(entityList.size());
        entityList.forEach(e -> targetList.add(dto2Do(e)));
        return ${tableNameFirstLowerCase}Service.updateBatchById(targetList, batchSize);
    }

    @Override
    public ${tableName}DTO getById(Serializable id) {
        return do2Dto(${tableNameFirstLowerCase}Service.getById(id));
    }

    @Override
    public Collection<${tableName}DTO> listByIds(Collection<? extends Serializable> idList) {
        Collection<${tableName}> list = ${tableNameFirstLowerCase}Service.listByIds(idList);
        List<${tableName}DTO> result = new ArrayList<>(list.size());
        if (list.size() != 0) {
            list.forEach(e -> result.add(do2Dto(e)));
        }
        return result;
    }

    @Override
    public Collection<${tableName}DTO> listByMap(Map<String, Object> columnMap) {
        Collection<${tableName}> list = ${tableNameFirstLowerCase}Service.listByMap(columnMap);
        List<${tableName}DTO> result = new ArrayList<>(list.size());
        if (list.size() != 0) {
            list.forEach(e -> result.add(do2Dto(e)));
        }
        return result;
    }
#end
}
#end
