<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nekolr.upms.provider.dao.OperationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nekolr.upms.api.entity.OperationLog">
        <id column="id" property="id" />
        <result column="log_name" property="logName" />
        <result column="username" property="username" />
        <result column="api" property="api" />
        <result column="method" property="method" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="message" property="message" />
    </resultMap>

</mapper>
