<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nekolr.upms.provider.dao.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nekolr.upms.api.entity.Resource">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="uri" property="uri" />
        <result column="type" property="type" />
        <result column="component" property="component" />
        <result column="parent_id" property="parentId" />
        <result column="method" property="method" />
        <result column="icon" property="icon" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="sort_order" property="sortOrder" />
        <result column="status" property="status" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <select id="getRoleResourceRuleList" resultType="com.nekolr.upms.common.vo.RoleResourceRule">
        SELECT CONCAT(re.uri, "==", UCASE(re.method)) AS uri, GROUP_CONCAT(ro.code ORDER BY re.uri) AS roles
        FROM resource re
        LEFT JOIN role_resource rr ON re.id = rr.resource_id
        LEFT JOIN role ro ON rr.role_id = ro.id
        WHERE re.type = 2
        GROUP BY
        re.uri, re.id
    </select>

    <select id="getUserMenus" parameterType="java.lang.String" resultType="com.nekolr.upms.api.dto.ResourceDTO">
        SELECT r.* FROM resource r
        INNER JOIN role_resource rr ON r.id = rr.resource_id
        INNER JOIN user_role ur ON ur.role_id = rr.role_id
        INNER JOIN user u ON u.id = ur.user_id
        WHERE u.username = #{appId, jdbcType=VARCHAR} AND r.type = 1
        ORDER BY r.sort_order;
    </select>

</mapper>
